* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background: #000;


}

.container {
  background: #555555;
  counter-reset: item;
  min-width: 320px;
  max-width: 1140px;

  justify-content: center;
  align-items: center;
  }

ol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  list-style: none;
  padding: 0 40px 0 90px;
}

li {

  font-family: 'Arial', sans-serif;
  color: #282828;
  font-size: 1rem;
  line-height: 1.286em;
  padding: 10px 0 10px 2px;
  position: relative;
}

li::before {
  content: counter(item);
  counter-increment: item;
  float: left;
  width: 50px;
  margin-left: -52px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 1.7rem;
  color: #ffffff;
  line-height: 0.75;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: calc(50% - 0.8rem);
}

li:nth-child(odd){
  background: #cccccc;
  border-left: 50px solid #cc4242;
  margin-left: -50px;
}

li:nth-child(even) {
  background: #ffffff;
  border-left: 50px solid #ff5353;
  margin-left: -50px;
}
